@import '../../variables';

.banner-slide-wrapper {
  width: 100%;
  height: inherit;
  position: relative;
  background-image: url("/images/preloader/walk.gif");
  background-position: center;
  background-repeat: no-repeat;

  .background-img-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;

    &:after {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      background: rgba(0,0,0,0.85)
    }

    img {
      width: inherit;
      height: inherit;
      object-fit: cover;
    }

  }
  
  .content-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    &-main {
      position: relative;
      width: 100%;
      color: $white;
      h2 {
        font-size: 6rem;
        line-height: 6.7rem;
        font-weight: 100;
        letter-spacing: 3px;
        text-transform: uppercase;
      }
      p {
        margin-top: 20px;
        margin-right: 100px;
        margin-bottom: 30px;
        font-size: 2rem;
        line-height: 3rem;
        font-weight: 300;
      }
      .buttons {
        display: block;
        > div {
          display: inline-block;
          margin-right: 20px;
          &:last-child {
            margin-right: 0;
          }
        }
      }
      .portrait-image-wrap {
        width: 40vh;
        height: 60vh;
        margin: 0 auto;
        background-color: $black;
        img {
          width: inherit;
          height: inherit;
          object-fit: cover;
        }
      }
    }
  }
}

.loadingData {
  width: 100%;
  height: 100vh;
  background: $white;
  display: flex;
  align-items: center;
  justify-content: center;
}

