@import "../variables";

.movie-each {
  &--img-wrapper {
    img {
      width: 100%;
      height: auto;
    }
  }
  &-title-wrapper {
    min-height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $primary-color;
    a{
      display: inline-block;
      width: 100%;
      padding: 25px;
      text-align: center;
      text-transform: uppercase;
      font-size: 16px;
      line-height: 23px;
      font-weight: 400;
      color: $white;
      &:hover {
        text-decoration: none;
      }
    }
  }
}