@import '../../variables';

.form-wrapper {
  &__passwordInput, &__passwordInput__confirm {
    position: relative;
    .error {
      position: absolute;
      bottom: -14px;
      color: $white;
    }
  }
}

.submitDisable {
  opacity: 0.2;
  pointer-events: none;
}